<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="refresh" content="120">
    <!-- Framework Imports -->
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     <script src="https://unpkg.com/vue@next"></script>
     <script src="https://unpkg.com/vue-router@3.5.1/dist/vue-router.js"></script>
     <link rel="stylesheet" href="style.css">

    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

        Haha no web security go brr

    <meta http-equiv="Content-Security-Policy" content="default-src http://ec2-54-157-162-187.compute-1.amazonaws.com/quizlet/*; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="connect-src http://ec2-54-157-162-187.compute-1.amazonaws.com/quizlet/*; script-src 'self'">
    
    
    <meta http-equiv="Content-Security-Policy" content="connect-src http://ec2-54-157-162-187.compute-1.amazonaws.com/quizlet/*">
  -->
  <div id="counter">
    <span>Counter: {{ counter }}</span>
  </div>

  <title>Bearzlet</title>
</head>
<body>
  <div id="title">
    <span>{{title}}</span>
  </div>
    
    We are using Node.js <span id="node-version"></span>,
    Chromium <span id="chrome-version"></span>,
    and Electron <span id="electron-version"></span>.

    <br>

    <div id="demo">
      <button @click="show = !show">
        Toggle
      </button>
      
      <transition name="fade">
        <p v-if="show">hello</p>
      </transition>
    </div>

    <br>

    <div id="makeacct_div">
      <h2>Make Account: </h2>
      Username:<input id="cusername" type="text">
      <br>
      Password:<input id="cpassword" type="password">
      <br>
      Email:<input id="cemail" type="email">
      <button id="makeacct">Make Account</button>
      <br>
    </div>

    <div id="login_div">
          <br>
          <h2>Login: </h2>
          Username:<input id="lusername" type="text">
          Password:<input id="lpassword" type="password">
          <button id="login">Log in</button>
          <br>
    </div>

    <br>

    <button id="queery">Query</button>
    <button id="loadsets">Load seets</button>

    <h3>Starred Sets</h3>

    <div id="sets">

    </div>

    <button id="uploadset">Upload A New Set</button>

    <div id="fileRead">
      <!-- This is where the File Upload belongs -->
      <input type="file" id="fileUpload" ref="myFile" @change="selectedFile(), $event">Choose a File</input><br/>

      <div v-if="lines.length">
      <p>Your file contains {{lines.length}} lines:</p>
        <ul>
        <li v-for="l in lines">{{l}}</li>
        </ul>
      </div>


    </div>

    <p id="ajaxtest">
      
    </p>

    <p>This app was compiled on the command line by me, Evin!</p>

    <!-- You can also require other files to run in this process -->
    <script src="./renderer.js"></script>
    <script src="./frontend.js"></script>
  </body>
</html>
